<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #feb34e">
  <a class="navbar-brand" >
    <div><img src="" alt="" >Gitlab Info</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul id="user" class="navbar-nav ml-auto" style="margin-right: 5%">

      <li  class="nav-item active " >
        <a routerLink="applications" class="nav-link">Applications </a>
      </li>
<!--      <li  class="nav-item active" >-->
<!--      <a  class="nav-link">Connections </a>-->
<!--      </li>-->
<!--      <li  class="nav-item active" >-->
<!--        <a routerLink="" class="nav-link">Commits </a>-->
<!--      </li>-->
<!--      <li  class="nav-item active" >-->
<!--        <a routerLink="" class="nav-link">Pull requests </a>-->
<!--      </li>-->



<!--      <li class="nav-item dropdown" >-->
<!--        <a class="nav-link dropdown-toggle" id="navbarFeaturesDropdownMenu" data-toggle="dropdown"-->
<!--           aria-haspopup="true" aria-expanded="false">a</a>-->
<!--        <div class="dropdown-menu dropdown-left-manual" aria-labelledby="navbarFeaturesDropdownMenu">-->
<!--          <a class="dropdown-item" >All connections</a>-->

<!--        </div>-->
<!--      </li>-->

    </ul>
  </div>
</nav>
