<div >
  <button class="btn btn-lg btn-outline-warning pull-right" style="margin-left: 170px; margin-top: 30px;
      border-bottom-left-radius: 15px; border-top-left-radius: 45px;" (click)="back()">Back </button>
  <br><br>

  <div class="form-control container">
    <div class="container form-control">
      <h4 class="mb-4"> <i> {{connectionWithCommitsDTO.applicationDTO.name}} </i> </h4>
      <small>Application ID: <i>{{connectionWithCommitsDTO.applicationDTO.id}} </i> </small>
      <br/>
      <small> Connection name:  <i>{{connectionWithCommitsDTO.name}} </i></small>
      <br/>
      <small>Target branch: <i>{{connectionWithCommitsDTO.branchName}}, </i> </small>
      <small><i> repository url: <a href="{{connectionWithCommitsDTO.url}}">{{connectionWithCommitsDTO.url}} </a></i> </small>
      <br/>
      <br/>
      <p> Project name:  <i> <b> {{connectionWithCommitsDTO.projectName}} </b></i></p>
      <p> Project ID: <i> <b> {{connectionWithCommitsDTO.projectId}} </b></i></p>
    </div>

    <div *ngFor="let commit of connectionWithCommitsDTO.commitDTOS">
      <div>
        <div class="list-group-item  flex-column align-items-start">

          <div class="d-flex w-80 justify-content-between">
            <h5 class="mb-4"> Commit message: <i> {{commit.message}} </i> </h5>
            <small> <i><b> Commit ID: </b>{{commit.id}} </i> </small>
          </div>

          <p class="mb-2"> <i><b> Commit author: </b></i> {{commit.authorName}}  </p>
          <p class="mb-2"> <i><b> Commit url: </b></i>
            <a href="{{commit.webUrl}}" > <i>{{commit.webUrl}} </i> </a>  </p>

          <div class="row">
            <small>Date of creation: <i>{{commit.committedDate}} </i> </small>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

