<div >
  <button class="btn btn-lg btn-outline-warning pull-right" style="margin-left: 170px; margin-top: 30px;
      border-bottom-left-radius: 15px; border-top-left-radius: 45px;" (click)="back()">Back </button>
  <br><br>

  <div class="form-control container">
   <div class="container form-control">
     <h4 class="mb-4"> <i> {{connectionsWithPullRequestsDTO.applicationDTO.name}} </i> </h4>
     <small>Application ID: <i>{{connectionsWithPullRequestsDTO.applicationDTO.id}} </i> </small>
     <br/>
     <small> Connection name:  <i>{{connectionsWithPullRequestsDTO.name}} </i></small>
     <br/>
     <small>Target branch: <i>{{connectionsWithPullRequestsDTO.branchName}}, </i> </small>
     <small><i> repository url: <a href="{{connectionsWithPullRequestsDTO.url}}">{{connectionsWithPullRequestsDTO.url}} </a></i> </small>
     <br/>
     <br/>
    <p> Project name:  <i> <b> {{connectionsWithPullRequestsDTO.projectName}} </b></i></p>
    <p> Project ID: <i> <b> {{connectionsWithPullRequestsDTO.projectId}} </b></i></p>
   </div>

    <div *ngFor="let pullRequest of connectionsWithPullRequestsDTO.pullRequestDTOS">
      <div>
        <div class="list-group-item flex-column align-items-start">

          <div class="d-flex w-80 justify-content-between">
            <h5 class="mb-4"> Merge request title: <i> {{pullRequest.title}} </i> </h5>
            <small> <i> <b> Merge request ID: </b> {{pullRequest.id}}  </i> </small>
          </div>

          <p class="mb-2" *ngIf="pullRequest.sourceBranch !== null"> <i><b> Source branch: </b></i> {{pullRequest.sourceBranch}}  </p>
          <p class="mb-2" *ngIf="pullRequest.author !== null"> <i><b> Created by: </b></i> {{pullRequest.author.name}} - <b><i>username:</i></b> {{pullRequest.author.username}}  </p>
          <p class="mb-2" *ngIf="pullRequest.assignee !== null"> <i><b> Merged by: </b></i> {{pullRequest.assignee.name}} - <b><i>username:</i></b> {{pullRequest.assignee.username}} </p>

          <div class="row">
            <small>Date of creation: <i>{{pullRequest.createdAt}} </i> </small>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

