<div >
  <button class="btn btn-lg btn-outline-warning pull-right" style="margin-left: 170px; margin-top: 30px;
      border-bottom-left-radius: 15px; border-top-left-radius: 45px;" (click)="back()">Back </button>
  <br/>
  <br/>

  <div class="form-control container">
    <div class="container form-control">
      <h3 class="mb-4" > <i> {{application.name}} </i> </h3>
      <small>Application id: <i>{{application['id']}} </i> </small>
      <br><br>
      <button class="btn  btn-outline-primary float-sm-end"
              style=" border-radius: 10px;" (click)="openCreate()" >New connection</button>
      <br><br>
    </div>

    <div *ngFor="let connection of application.connectionDTOS"  >
      <div >
        <div class="list-group-item  flex-column align-items-start background ">

          <div class="d-flex w-80 justify-content-between">
            <h5 class="mb-4"> <i> {{connection['name']}} </i> </h5>
            <small> <i><b> Connection ID: </b></i> {{connection.id}}</small>
          </div>

          <p class="mb-2"> <i><b>Project name: </b></i> {{connection['projectName']}}</p>

          <button class="btn btn-outline-danger float-sm-end" style=" border-radius: 10px; margin-right: 10px"
                  (click)="deleteConnection(connection['id'])" onclick="event.stopPropagation()">Delete</button>
          <button class="btn btn-outline-secondary float-sm-end" style=" border-radius: 10px; margin-right: 10px"
                   onclick="event.stopPropagation()" (click)="openUpdate(connection.id)">Edit</button>
          <button class="btn btn-outline-warning float-sm-end" style=" border-radius: 10px; margin-right: 10px"
                  routerLink="{{connection.id}}/pullRequests" onclick="event.stopPropagation()">Pull requests</button>
          <button class="btn btn-outline-success float-sm-end" style=" border-radius: 10px; margin-right: 10px"
                  routerLink="{{connection.id}}/commits" onclick="event.stopPropagation()">Commits</button>

          <p class="mb-2"> <i><b>Branch name: </b></i> {{connection['branchName']}}</p>
          <div class="row">

          </div>
          <small>Connection url: <a href="{{connection['url']}}"><i>{{connection['url']}} </i> </a></small>


        </div>
      </div>
    </div>
  </div>
</div>
