
    <div class="modal-header" *ngIf="showApplicationFields===true" style="background-color: #feb34e">
      <h4 class="modal-title navbar-brand text-white" id="modal-basic-title-application"
          *ngIf="clickedId === undefined || clickedId === ''">Create application</h4>
      <h4 class="modal-title navbar-brand text-white" id="modal-basic-title-applicationEdit"
          *ngIf="clickedId !== undefined && clickedId !== ''">Edit application</h4>

      <button type="button" class="close" aria-label="Close" (click)="ref.dismiss('Cross click')"
              style="background-color: #feb34e; color: white; border-color: white">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-header" *ngIf="showConnectionFields===true" style="background-color: #feb34e">
      <h4 class="modal-title navbar-brand text-white" id="modal-basic-title-connection">Create connection</h4>
      <button type="button" class="close" aria-label="Close" (click)="ref.dismiss('Cross click')"
              style="background-color: #feb34e; color: white; border-color: white">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
      <form>

        <div  class="form-group" *ngIf="showApplicationFields === true">
          <label for="applicationId" *ngIf="clickedId !== undefined && clickedId !== ''">Application ID</label>
          <br/>
          <div class="input-group" *ngIf="clickedId !== undefined && clickedId !== ''">
            <br/>
            <input
              id="applicationId"
              class="form-control"
              readonly
              name="dpAppID"
              [placeholder]="clickedId"
              style="cursor: not-allowed"
            />
          </div>
        </div>

        <div  class="form-group" *ngIf="showApplicationFields===true">
            <br/>
            <label for="applicationName">Name</label>
            <br/>
            <div class="input-group">
              <br/>
              <input
                id="applicationName"
                class="form-control"
                placeholder="Type application name here..."
                name="dpAppName"
                value={{application.name}}
                [(ngModel)]="application.name"
              />
            </div>
          <small style="color: darkred" *ngIf="showValidationMessage === true"> Mandatory field  </small>
        </div>

          <div  class="form-group" *ngIf="showConnectionFields===true">
              <br/>
              <label for="connectionName">Name</label>
              <br/>
              <div class="input-group">
                <br/>
                <input
                  id="connectionName"
                  class="form-control"
                  placeholder="Type your connection name here..."
                  name="dpConnName"
                  [(ngModel)]="connection.name"
                />
              </div>
          </div>

          <div  class="form-group" *ngIf="showConnectionFields===true">
              <br/>
              <label for="projectName">Project name</label>
              <br/>
              <div class="input-group">
                <br/>
                <input
                  id="projectName"
                  class="form-control"
                  placeholder="Type connection project name here..."
                  name="dpProjName"
                  [(ngModel)]="connection.projectName"
                />
              </div>
          </div>

          <div  class="form-group" *ngIf="showConnectionFields===true">
              <br/>
              <label for="branchName">Branch name</label>
              <br/>
              <div class="input-group">
                <br/>
                <input
                  id="branchName"
                  class="form-control"
                  placeholder="Type branch name here..."
                  name="dpBranchName"
                  [(ngModel)]="connection.branchName"
                />
              </div>
          </div>

          <div  class="form-group" *ngIf="showConnectionFields===true">
              <br/>
              <label for="url">Connection url</label>
              <br/>
              <div class="input-group">
                <br/>
                <input
                  id="url"
                  class="form-control"
                  placeholder="Type url here..."
                  name="dpUrl"
                  [(ngModel)]="connection.url"
                />
              </div>
          </div>

          <div  class="form-group" *ngIf="showConnectionFields===true">
              <br/>
              <label  for="token">Access token (optional)</label>
              <br/>
              <div class="input-group">
                <br/>
                <input
                  id="token"
                  class="form-control"
                  placeholder="Type token here..."
                  name="dpToken"
                  [(ngModel)]="connection.token"
                />
              </div>
          </div>

          <div  class="form-group" *ngIf="showConnectionFields===true">
              <br/>
              <label  for="selectApp">Select application</label>
              <br/>
              <div class="input-group">
                <br/>
                <select
                  id="selectApp"
                  class="form-control col-sm-3 form-select"

                  placeholder="..."
                  name="dpApp"
                  [(ngModel)]="connection.applicationDTO.name">
                  <option *ngFor="let application of applications"
                          class="dropdown-item" > {{application.name}}</option>
                </select>
              </div>
            <small style="color: darkred" *ngIf="showValidationMessage === true"> Mandatory field  </small>
              <br/>
          </div>

      </form>
    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-outline-warning " style="border-radius: 10px"
              (click)="ref.dismiss('Cancel')" >Cancel</button>
      <button type="button" class="btn btn-outline-success " style="border-radius: 10px"
              (click)="createOrUpdate()">Save</button>
    </div>

