

  <div class="modal-header" style="background-color: #feb34e">
    <h4 class="modal-title navbar-brand text-white" id="modal-basic-title"
        *ngIf="connection.id === undefined || connection.id === ''">Create connection</h4>
    <h4 class="modal-title navbar-brand text-white" id="modal-basic-titleEdit"
        *ngIf="connection.id !== undefined && connection.id !== ''">Edit connection</h4>
    <button type="button" class="close"  aria-label="Close" (click)="ref.dismiss('Cross click')"
            style="background-color: #feb34e; color: white; border-color: white">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>

      <div class="form-group ">
        <label for="connectionId" *ngIf="connection.id !== undefined && connection.id !== ''">Connection ID</label>
        <br/>
        <div class="input-group" *ngIf="connection.id !== undefined && connection.id !== ''">
          <br/>
          <input
            id="connectionId"
            class="form-control"
            readonly
            name="dpID"
            [placeholder]="connection.id"
            style="cursor: not-allowed"
          />
        </div>
      </div>
      <br/>
      <div class="form-group ">
        <label for="connectionName">Name</label>
        <br/>
        <div class="input-group">
          <br/>
          <input
            id="connectionName"
            class="form-control"
            placeholder="Type your connection name here..."
            name="dpConnName"
            [(ngModel)]="connection.name"
          />
        </div>
      </div>

      <div class="form-group ">
        <br/>
        <label for="projectName">Project name</label>
        <br/>
        <div class="input-group">
          <br/>
          <input
            id="projectName"
            class="form-control"
            placeholder="Type connection project name here..."
            name="dpProjName"
            [(ngModel)]="connection.projectName"
          />
        </div>
      </div>

      <div class="form-group ">
        <br/>
        <label for="branchName">Branch name</label>
        <br/>
        <div class="input-group">
          <br/>
          <input
            id="branchName"
            class="form-control"
            placeholder="Type branch name here..."
            name="dpBranchName"
            [(ngModel)]="connection.branchName"
          />
        </div>
      </div>

      <div class="form-group ">
        <br/>
        <label for="url">Connection url</label>
        <br/>
        <div class="input-group">
          <br/>
          <input
            id="url"
            class="form-control"
            placeholder="Type url here..."
            name="dpUrl"
            [(ngModel)]="connection.url"
          />
        </div>
      </div>

      <div class="form-group ">
        <br/>
        <label for="token">Access token (optional)</label>
        <br/>
        <div class="input-group">
          <br/>
          <input
            id="token"
            class="form-control"
            placeholder="Type token here..."
            name="dpToken"
            [(ngModel)]="connection.token"

          />
        </div>
        <br/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning " style="border-radius: 10px"
            (click)="ref.dismiss('Cancel')" >Cancel</button>
    <button type="button" class="btn btn-outline-success" style="border-radius: 10px"
            (click)="createOrUpdateConn()">Save</button>
  </div>
